name: Simple Test
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - run: |
          curl -s -o /dev/null -w "%{http_code}" https://api.binance.com/api/v3/ping
          echo " Binance API Tested"
